
{% if form %}
    {% block contact_form %}
        <div id="c33s_contact_form_container">
            {% block form_start_tag %}
                {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md', 'label_col': 4, 'widget_col': 8, 'id': 'contact_form' }) }}
            {% endblock %}
            {% block form_fields %}
                {{ form_row(form.sender_name) }}
                {{ form_row(form.sender_email) }}
                {{ form_row(form.sender_phone) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}
                {{ form_row(form.send) }}
            {% endblock %}
            {% block form_end_tag %}
                {{ form_end(form) }}
            {% endblock %}

            {% if use_ajax %}
                {% block ajax_script %}
                    <script type="text/javascript">

                    $(function() {
                        $('#c33s_contact_form').ajaxForm({
                            target: '#c33s_contact_form_container',
                            replaceTarget: true
                        });
                    });

                    </script>
                {% endblock %}
            {% endif %}
        </div>
    {% endblock %}
{% endif %}

{% if success_message %}
    {% block success_message %}
        <div id="c33s_contact_form_success_container" style="display: none">{{ success_message }}</div>
    {% endblock %}
{% endif %}

{% if success %}
    {% block success_script %}
        <script type="text/javascript">

        $(function() {
            $('#c33s_contact_form_success_container').show();
        });

        </script>
    {% endblock %}
{% endif %}
